body{
  background-image: url("Mosque.jpg");
}

h1
{
  color: red;
  font-size: 3em;
  font-family: sans-serif;
}
h1:hover{
  color: #f21170;
}

h3
{
  color: pink;
  font-size: 3em;
  font-family: sans-serif;
}
h3:hover{
  color: #f21170;
}
p{
  color: white;
  width: 30%;
  font-size: 2.5em;
}
p:hover{
  color: Green;

}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
